[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "~=3.0"
django-environ = "*"
django-filter = "*"
djangorestframework = "*"
drf-yasg2 = "*"
flower = "*"
psycopg2-binary = "*"
django-celery-results = "*"
django-celery-beat = "*"
django-astrosat-core = {editable = true,git = "https://github.com/astrosat/django-astrosat-core.git",ref = "master"}
django-astrosat-tasks = {editable = true,path = "."}

[dev-packages]
django-debug-toolbar = "*"
factory-boy = "==3.0.1"
pytest = "*"
pytest-django = "*"
pytest-html = "*"
pytest-sugar = "*"

[requires]
python_version = "3.7.7"
